isEnabled: true
image: python:3.11-slim-bookworm
build:
  command: pip install -r requirements.txt
run:
  command: python app.py
  envs:
    - name: OPENAI_API_KEY
      value: "sm://{{.projectId}}/marco-openai-token"
    - name: LANGCHAIN_API_KEY
      value: "sm://{{.projectId}}/marco-langchain-token"
    - name: VECTOR_SEARCH_ENDPOINT
      value: "http://ask-br24-search.protected.svc.cluster.local"
    - name: BRAVE_API_KEY
      value: "sm://{{.projectId}}/marco-brave-token"
settings:
  type: service
  security:
    type: none
    enableCors: true
    corsOrigins:
      - "https://*.brdata-dev.de"
      - "https://*.interaktiv.br.de"
      - "http://localhost:8080"
      - "http://localhost:3000"
    useLoginFallback: false
